# Dependências
/vendor/
node_modules/

# Builds e cache
/public/build/
var/

# Config local
.env
.env.local
.env.dev
.env.test
.env.*.local

# Logs
*.log

# IDEs e sistema
.idea/
.vscode/
.DS_Store

# Arquivos Docker temporários
docker-compose.override.yaml
