{% extends 'base.html.twig' %}

{% block title %}Próximos Eventos - GatePass{% endblock %}

{% block main_content %}

    <section class="py-5 text-center">
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for evento in eventos %}
                    {% include '_partials/card_evento.html.twig' with { evento: evento } %}
                {% else %}
                    <div class="col-12">
                        <p class="text-center text-muted fs-4">
                            Nenhum evento publicado no momento.
                        </p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}