{% extends 'base.html.twig' %}
{% block title %}Compra Confirmada - GatePass{% endblock %}
{% block main_content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container py-5">
    <h1 class="display-6">Compra Confirmada</h1>
    <p class="col-md-8 fs-5">Seu pedido #{{ pedido.id }} foi aprovado. Obrigado por comprar com a GatePass.</p>
    <a href="{{ path('app_home') }}" class="btn btn-primary btn-lg">Voltar aos eventos</a>
  </div>
</div>
{% endblock %}
