{% extends 'base.html.twig' %}
{% block title %}Pagamento - GatePass{% endblock %}
{% block main_content %}
<h1 class="h4 mb-4">Pagamento</h1>
{% if pedido is defined %}
  <div class="card mb-3"><div class="card-body">Pedido #{{ pedido.id }}</div></div>
{% endif %}
{% if pagamentoForm is defined %}
  <div class="card"><div class="card-body">
    {{ form_start(pagamentoForm) }}
      {{ form_widget(pagamentoForm) }}
      <button class="btn btn-primary mt-3">Pagar</button>
    {{ form_end(pagamentoForm) }}
  </div></div>
{% endif %}
{% endblock %}
