{% extends 'base.html.twig' %}
{% block title %}Novo Evento - GatePass{% endblock %}
{% block main_content %}
<h1 class="h4 mb-4">{{ page_title|default('Criar Novo Evento') }}</h1>
<div class="card"><div class="card-body">
  {{ form_start(eventoForm) }}
    {{ form_widget(eventoForm) }}
    <button class="btn btn-primary mt-3" type="submit">Salvar</button>
  {{ form_end(eventoForm) }}
</div></div>
{% endblock %}
